::selection, ::-moz-selection {
	color: #fff;
	background: #000;
}
html {
	margin: 0;
	font-family: 'Tahoma', 'arial', sans-serif;
	color: #000;
	background: center/40px repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" stroke="%23fff3"><rect x="10" y="10" width="20" height="20"/></svg>'), #000;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAJUExURUdwTPj8+AAAACG8EfMAAAABdFJOUwBA5thmAAAANklEQVQI12MIBQKGrFWrVoKIJSAiAEisZIARqxxAxAS4LExdFFAskw0om8kIVJcChAwBDAIMAPibHK9ONqHMAAAAAElFTkSuQmCC), auto;
}
a {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURUdwTPj8+D19/7qcjwYAAAABdFJOUwBA5thmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAANklEQVQI12MIBQKGrFWrVoKIJSAiAEisZIARqxxAxAS4LExdFFAskw0om8kIVJcChAwBDAIMAPibHK9ONqHMAAAAAElFTkSuQmCC), auto;
}
body {
	max-width: 65em;
	margin: 2em auto 17em auto;
}
div {
	padding: 0 1em;
	border: 2px solid #000;
	background: #fff;
	margin: 2em 0;
}
h1,h2,h3,h4,h5,h6 {
	background: #bbf;
	margin: .7em 0;
}
a[href*="://"]::after {
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAJUExURUdwTAD/AAAA//ENIZIAAAABdFJOUwBA5thmAAAAL0lEQVQI12NggAFRBwaG0AQGptAVDFwzsxi4Zq1k4JqaCcZMU1cwMCxbwMCg1QAArE8JoyhJwYoAAAAASUVORK5CYII=') no-repeat;
}
kbd {
	font-family: 'courier new', monospace;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 .2em;
	padding: 0 .2em;
	display: inline-block;
	background: #f2f2f2;
	box-shadow: 1px 1px 0 0 #000;
}
pre, code {
	font-family: 'courier new', monospace;
	background: #e8e8e8;
}
pre {
	white-space: pre;
	overflow-x: auto;
	padding: 1em;
	border: 2px solid #606060;
	font-size: smaller;
	}
	pre.wrap {
		white-space: pre-wrap;
	}
code {
	padding: 0 .2em;
	border-radius: 3px;
}
footer {
	color: #606060;
	text-align: right;
	font-size: smaller;
}
blockquote {
	background: #eee;
	border-left: 5px solid #aaa;
	padding: 1em;
	margin: 1em;
}
p.capt, p.img {
	text-align: center;
	color: #606060;
	}
	p.img img {
		max-width: 100%;
		border: 2px solid #e8e8e8;
	}
span.s {
	text-decoration: line-through;
}
p.index {
	font-size: smaller;
	text-align: right;
}
ul ul {
	margin-top: .3em;
	margin-bottom: .3em;
}
