::selection, ::-moz-selection {
	color: #fff;
	background: #000;
}
html {
	margin: 0;
	font-family: 'Tahoma', 'arial', sans-serif;
	color: #000;
	background: fixed #bbb url(data:image/bmp;base64,Qk1+AAAAAAAAAD4AAAAoAAAAEAAAABAAAAABAAEAAAAAAAAAAADDDgAAww4AAAIAAAACAAAAd3d3/5aWlv+/fwAAoUAAAK1eAAClUgAAvVoAAIFCAAD/fgAAAAAAAH7/AABCgQAAWr0AAFKlAABerQAAQKEAAH+/AAAAAAAA) repeat;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAJUExURUdwTPj8+AAAACG8EfMAAAABdFJOUwBA5thmAAAANklEQVQI12MIBQKGrFWrVoKIJSAiAEisZIARqxxAxAS4LExdFFAskw0om8kIVJcChAwBDAIMAPibHK9ONqHMAAAAAElFTkSuQmCC), auto;
}
a {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURUdwTPj8+D19/7qcjwYAAAABdFJOUwBA5thmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAANklEQVQI12MIBQKGrFWrVoKIJSAiAEisZIARqxxAxAS4LExdFFAskw0om8kIVJcChAwBDAIMAPibHK9ONqHMAAAAAElFTkSuQmCC), auto;
}
body {
	max-width: 65em;
	margin: 2em auto 17em auto;
}
div, nav {
	padding: 0 1em;
	border: 2px solid #000;
	background: #fff;
	margin: 2em 0;
	box-shadow: 5px 5px 0 pink, 7px 3px 0 #000, 7px 7px 0 #000, 3px 7px 0 #000;
}
div div {
	box-shadow: none;
}
h1,h2,h3,h4,h5,h6 {
	background: #bbf;
	margin: .7em 0;
	padding: 0 .2em;
	border: 2px solid #000;
	box-shadow: 2px 2px 0 #000;
}
a[href*="://"]::after {
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAJUExURUdwTAD/AAAA//ENIZIAAAABdFJOUwBA5thmAAAAL0lEQVQI12NggAFRBwaG0AQGptAVDFwzsxi4Zq1k4JqaCcZMU1cwMCxbwMCg1QAArE8JoyhJwYoAAAAASUVORK5CYII=') no-repeat;
}
kbd {
	font-family: 'courier new', monospace;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 .2em;
	padding: 0 .2em;
	display: inline-block;
	background: #f2f2f2;
	box-shadow: 1px 1px 0 0 #000;
}
pre, code {
	font-family: 'courier new', monospace;
	background: #e8e8e8;
}
pre {
	white-space: pre;
	overflow-x: auto;
	padding: 1em;
	border: 2px solid #606060;
	font-size: smaller;
	}
	pre.wrap {
		white-space: pre-wrap;
	}
code {
	padding: 0 .2em;
	border-radius: 3px;
}
footer {
	color: #606060;
	text-align: right;
	font-size: smaller;
}
blockquote {
	background: #eee;
	border-left: 5px solid #aaa;
	padding: 1em;
	margin: 1em;
}
p.capt, p.img {
	text-align: center;
	color: #606060;
	}
	p.img img {
		max-width: 100%;
		border: 2px solid #e8e8e8;
	}
span.s {
	text-decoration: line-through;
}
p.index {
	font-size: smaller;
	text-align: right;
}
ul ul {
	margin-top: .3em;
	margin-bottom: .3em;
}
