body {
	font-family: 'Tahoma', 'arial', sans-serif;
	max-width: 45em;
	margin: 2em auto;
	padding: 0 .75em;
	background: WHITE;
	color: BLACK;
}
::selection {
	color: WHITE;
	background: BLACK;
}
::-moz-selection {
	color: WHITE;
	background: BLACK;
}
pre,
code {
	font-family: 'courier new', monospace;
	background: LIGHTGREY;
}
pre {
	white-space: pre-wrap;
	padding: 1em;
	border: 2px solid DARKGREY;
}
code {
	padding: .1em .4em;
	border-radius: 2px;
}
header,
footer {
	color: DARKGREY;
	text-align: right;
	font-size: small;
	padding-top: 1em;
}
.small {
	font-size: small;
}
blockquote {
	font-style: italic;
}
hr {
	border-top: 1px solid DARKGREY;
	border-bottom: 1px solid LIGHTGREY;
}
nav {
	text-align: center;
}
nav a {
	padding: 0 1em;
}
a {
	color: BLUELINK;
}
p.pushup,
p.capt {
	margin-top: -.75em;
}
p.capt,
p.img {
	text-align: center;
	color: DARKGREY;
}
p.img img {
	max-width: 100%;
	border: 2px solid LIGHTGREY;
}
